<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InventoryRepo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InventoryRepo.styles.css" asp-append-version="true" />
</head>
<body>

    @await Html.PartialAsync("_Sidebar")
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class="fa-solid fa-bars sidebarBtn"></i>
                <span class="dashboard">Dashboard</span>
            </div>
            <div class="search-box">
                <input type="text" placeholder="Search.." />
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="profile-details">
                <img src="~/images/user.jpg" alt="" />
                <span class="admin_name">User</span>
                <i class="fa-solid fa-angle-down"></i>
            </div>
        </nav>
        <div>
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </section>











  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
