@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


    <div class="sidebar">
        <ul style ="padding-left: 0;">
            <li>
                <a class="title">
                    <img src="~/images/handcart.png" alt="InventoryRepo Logo" class="logo-image" width="50" height="50" />
                    <b class="brand-name">Inventorio</b>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-house"></i>
                    <div class="title">Dashboard</div>
                </a>
            </li>
            <li>
                <a asp-controller="Category" asp-action="Index">
                    <i class="fa-solid fa-layer-group"></i>
                    <div class="title">Categories</div>
                </a>
            </li>
            <li>
                 <a asp-controller="Product" asp-action="Index">
                    <i class="fa-solid fa-box-open"></i>
                    <div class="title">Products</div>
                </a>
            </li>
            <li>
                <a asp-controller="Supplier" asp-action="Index">
                    <i class="fa-solid fa-people-carry-box"></i>
                    <div class="title">Suppliers</div>
                </a>
            </li>
            <li>
                <a asp-controller="Orders" asp-action="Index">
                    <i class="fa-solid fa-box"></i>
                    <div class="title">Orders</div>
                </a>
            </li>
            <li>
                <a asp-controller="Stock" asp-action="Index">
                    <i class="fa-solid fa-boxes-stacked"></i>
                    <div class="title">Stock</div>
                </a>
            </li>
            <li> 
                <a asp-controller="SupplierOrder" asp-action="Index">
                    <i class="fa-solid fa-money-bill-transfer"></i>
                <div class="title">SupplierOrder</div>
                </a>
            </li>
            <li>
                <a asp-controller="Warehouse" asp-action="Index">
                    <i class="fa-solid fa-warehouse"></i>
                    <div class="title">Warehouse</div>
                </a>
            </li>
            <li>
                <a asp-controller="Account" asp-action="Index">
                    <i class="fa-solid fa-user-tie"></i>
                    <div class="title">Account</div>
                </a>
            </li>
        </ul>
    </div>
