@model InventoryRepo.Models.Category

@{
    ViewData["Title"] = "Add";
     Layout = "_Layout"; 
}

<div class="form-box">
    <div class="card-header" style="background: linear-gradient(45deg, #47cebe, #ef4a82); font-family: 'PT Serif', serif, sans-serif;font-size: 20px;color: white;">
        <i class="fa-solid fa-layer-group"></i>
        <b>Add Category</b>
    </div>
    <div class="form-container">
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Add">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CategoryName" class="control-label"></label>
                    <input asp-for="CategoryName" class="form-control" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" style="background-color:rgba(227, 9, 143); color: #fff; border-color: rgba(227, 9, 143);" />
                </div>
            </form>
        </div>

        <div class="col-md-3">
            <img src="~/images/category.png" class="custom-image" alt="Category Image" />
        </div>
    </div>
    </div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
