@model InventoryRepo.Models.Category

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<div class="form-box">
    <div class="card-header" style="background: linear-gradient(45deg, #47cebe, #ef4a82); font-family: 'PT Serif', serif, sans-serif;font-size: 20px;color: white;">
        <i class="fa-solid fa-layer-group"></i>
        <b>Edit Category</b>
    </div>

 <div class="form-container">
    <div class="row">
        <div class="col-md-6">
            @if (TempData["EditSuccessMessage"] != null)
            {
                <div class="alert alert-success">
                    @TempData["EditSuccessMessage"]
                </div>
            }

            <form id="editForm" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CategoryId" />
                <div class="form-group">
                    <label asp-for="CategoryName" class="control-label"></label>
                    <input asp-for="CategoryName" class="form-control" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" style="background-color:rgba(227, 9, 143); color: #fff; border-color: rgba(227, 9, 143);" onclick="confirmEdit()">Save</button>
                    
                </div>
            </form>
        </div>
    </div>
</div>
</div>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
        function confirmEdit() {
            Swal.fire({
                title: 'Are you sure you want to save the changes?',
                text: 'This action cannot be undone!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, save it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Disable the button to prevent multiple submissions
                    $("#editForm button").prop("disabled", true);

                    // Submit the form when user confirms
                    $("#editForm").submit();
                }
            });
        }
    </script>
}
