@model InventoryRepo.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockQuantity" class="control-label"></label>
                <input asp-for="StockQuantity" class="form-control" />
                <span asp-validation-for="StockQuantity" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="file" class="control-label">
                    @if (!string.IsNullOrEmpty(Model.ProductImage))
                    {
                        <span>Current File: @Model.ProductImage</span>
                    }
                    else
                    {
                        <span>Choose File</span>
                    }
                </label>

                @if (!string.IsNullOrEmpty(Model.ProductImage))
                {
                    <img src="~/Upload/files/@Model.ProductImage" alt="Product Image" style="max-width: 100px; max-height: 100px;" />
                    <br />
                    <span>Current File: @Model.ProductImage</span>
                    <input type="hidden" asp-for="ProductImage" />
                    <br />
                }

                <input asp-for="file" type="file" class="form-control" />

                <span asp-validation-for="ProductImage" class="text-danger"></span>
            </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <button class="btn btn-danger ms-2" type="submit"
                            asp-area=""
                            asp-controller="Product"
                            asp-action="Delete">
                        Delete
                    </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
