*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;

}

body {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}


.container {
    position: relative;
    width: 100%;
    transition: margin-left 0.3s ease;
    padding:100px 0 0 5px;
    
    }

.sidebar {
    position: fixed;
    width: 240px;
    height:100%;
    background: linear-gradient(45deg, #47cebe, #ef4a82);
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index: 2;
    left: 0;
    transition: width 0.5s ease;
    
}
.sidebar.active{
    width: 60px;
}

.sidebar ul li{
    width:100%;
    list-style:none;
    padding-left: 0; 
   
}

.sidebar ul li:hover {
        background: rgba(227, 9, 143);
}

.sidebar ul li:first-child {
        line-height: 7px;
        margin-bottom: 20px;
        font-weight: 600;
        border-bottom: 1px solid #fff;
        width: 100%;
}

.sidebar ul li:first-child:hover {
   background:none;
}

.sidebar ul li a {
    width:100%;
    text-decoration: none;
    color: #fff;
    height:60px;
    display:flex;
    align-items:center;
}

.sidebar ul li a i{
    min-width:60px;
    font-size: 24px;
    text-align:center;
}
.sidebar .title{
    padding: 0 10px;
    font-size: 20px;
}

.sidebar.collapsed {
        width: 60px; 
}

.sidebar.collapsed .brand-name {
            display: none;
 }
.main {
    position: absolute;
    width: calc(100% - 240px);
    height: 100vh;
    left:0px;
    background: white;
    transition: margin-left 0.5s ease;
    
}

.home-section .container .main {
    width: calc(100% - 240px);
    height: 100vh;
}

/*Home- section CSS*/

.home-section {
    background: #f5f5f5;
    position: relative;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: width 0.5s ease, left 0.5s ease;
}
.sidebar.active ~ .home-section {
    width: calc(100% - 60px);
    left: 60px;
}

.home-section .active {
    width: calc(100% - 60px);
    left: 60px;
}


.home-section nav {
    height: 60px;
    background: #fff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    left: 240px;
    transition: width 0.5s ease, left 0.5s ease;
}
.sidebar.active ~ .home-section nav{
    width: calc(100% - 60px);
    left: 60px;
}


.home-section nav .sidebar-button{
    display:flex;
    align-items: center;
    font-size: 24px;
    font-weight:500;
}

.home-section nav .sidebar-button i
{
    font-size:20px;
    margin-right:10px;
    color:black;
}

    .home-section nav .search-box {
        background: white;
        height: 50px;
        width: 550px;
        margin: 0 20px;
        margin-left: 90px;
        position: relative;
    }

nav .search-box input {
    height: 50px;
    width: 300px;
    border-radius: 6px;
    padding: 0 45px 0 15px;
    font-size: 17px;
    color: #fff;
    background: #F5F6FA;
    border: 3px solid #EFEEF1;
    outline: none;
}
nav .search-box i {
    position: absolute;
    top: 50%;
    right: 253px;
    transform: translateY(-50%);
    height: 46px;
    width: 40px;
    background: #2697FF;
    border-radius: 6px;
    color: #fff;
    font-size: 22px;
    line-height: 45px;
    text-align: center;
}
.home-section nav .profile-details {
    display: flex;
    align-items: center;
    height: 50px;
    min-width: 190px;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    padding: 0 15px 0 2px;
    margin-left: 30px;
    margin: 0 320px;
}

nav .profile-details img {
    height: 45px;
    width: 50px;
    object-fit: cover;
    border-radius: 6px;
}
nav .profile-details .admin_name{
    font-size:15px;
    font-weight:500;
    color:#333;
    margin: 0 10px;
}
nav .profile-details i {
    color: #333;
    font-size: 20px;
}

.edit-icon-container {
    background-color: #2697FF; /* Blue color */
    width: 30px; /* Set your desired width */
    height: 30px; /* Set your desired height */
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 4px; /* Optional: add border-radius for rounded corners */
}

.edit-icon-container i {
    color: #fff; /* Icon color, you can change it */
}
.edit-icon-container, .delete-icon-container {
    display: inline-block;
    background-color: #2697FF; /* Blue color for the edit icon */
    padding: 3px 0 4px 8px; /* Adjust the padding as needed */
    border-radius: 5px; /* Add border-radius for rounded corners */
    margin-right: 5px; /* Adjust the margin between icons */
}

.delete-icon-container {
    background-color: #FF0000;
    width: 30px; 
    height: 30px; 
}
.delete-icon-container i {
    color: #fff; /* Icon color, you can change it */
}
.form-box {
    width:100%;
    margin:10px;
    padding: 0px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-box h1 {
        text-align: center;
        margin-bottom: 20px; 
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    padding: 10px 10px 10px 50px;
}

.form-group .input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.form-group label {
        margin-bottom: 5px;
}

.custom-image {
    margin-left: 200px;
    height:300px;
    width:300px;

}

.form-group .col-sm-10 .form-control {
    color: black; /* Text color */
    background-color: white; /* Background color */
}

